
.icon-home:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */