*{  
   margin:0;  
   padding:0;  
}  
body {
	
	font-family: arial;
	
}

div#logo {
	float:left;
	margin: 10px 10px 10px 50px;
}


nav#accountnav {
	
	text-align:right;
	background-color:#22B573;
	padding:7px;
	
}


nav#accountnav a:link {
	color:white;
	text-decoration:none;
}

nav#accountnav a:visited {
	color: white;
	text-decoration:none;
}

nav#accountnav a:hover {
	color: #FFCC99;
	text-decoration:none;
}

nav#accountnav a:active {
	color: #FF5500;
	text-decoration:none;
}




nav#mainnav {
	
	float: left;
	margin: 145px 0 10px 15px;
	}
	
nav#mainnav li {
	margin: 100px;
}






nav#mainnav a:link {
	color:black;
	text-decoration:none;
}

nav#mainnav a:visited {
	color: black;
	text-decoration:none;
}

nav#mainnav a:hover {
	color: #FFCC99;
	text-decoration:none;
}

nav#mainnav a:active {
	color: #FF5500;
	text-decoration:none;
}







div#search {
	margin: 145px 50px 10px 0;
	text-align:right;
}



div#Eventslideshow {
	list-style-type: none;
	float:left;
	background-color:#22B573;
	margin-left: 50px;	

}

div#upcomingevents {
	margin-left:974px;
	margin-right:50px;
	margin-bottom: 100px;
	color:white;
	background-color:#404041;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:28px;

}