section {
		width:280px;
		height:200px;
		padding:0px 0 0 0;
		margin: 20px 6px 6px 6px;
		border: 1px solid #496157;
		float:left;
}

div header{
		background-color: #2B9E74;
		padding-top: 10px;
		height: 30px;
}

h3 {
		color:white;
		font-family:Arial;
		text-align: center;
		font-size:20px;
		margin: 0px 0 0 0;
}

p {
		color:#000000;
		font-family:Arial, san-serif;
		font-size: 12px;
		margin: 5px 10px 5px 10px;
}

img{
		height:170px;
		width:280px;
}