
nav ul {
	
	display:none;
	background: red;
	
	height:auto;
    

  
}

nav li {
	height: 40px;
	
	list-style-type: none;
	border-top: solid white;
	border-bottom:solid white;
	display: block;

}




body {
		background: #ece8e5;
}





#pull {
	display: block;
	
	background: black;
	border-bottom: solid #283744;
	


}

.slide {
		text-align: right;


}
